#discutinstant {
	border: 2px solid black;
	height : 667px ;
	background : url(bg.png);

}

#blocnews{
	border: 2px solid black;
}

#map {
	height : 400px ;

}

#body1 {
background : white ;
}

*                               { margin: 0; padding: 0; }
#body2                           { font: 12px "Lucida Grande", Sans-Serif; background: url(bg.png); }
h2                              { color: #fa9f00; font: 30px Helvetica, Sans-Serif; margin: 0 0 10px 0; }
#page-wrap                      { width: 180px; margin: 30px auto; position: relative; }

#chat-wrap                      { border: 1px solid #eee; margin: 0 0 15px 0;  border-radius : 10px ; }
#chat-area                      { height: 300px; overflow: auto; border: 1px solid #666; padding: 20px; background: white;   border-radius : 10px ; }
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0;}
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }
#name-area span                 { color: #fa9f00; }

#send-message-area p            { float: left; color: white; padding-top: 27px; font-size: 14px;  }
#sendie                         { border: 3px solid #999; width: 180px; padding: 10px; font: 12px "Lucida Grande", Sans-Serif; float: right;   border-radius : 10px ;}

@media screen and (min-width: 1800px)
{
	#discutinstant {
		border: 2px solid black;
		height : 955px ;
		background : url(bg.png);

	}

	#blocnews{
		border: 2px solid black;
	}

	#map {
		height : 600px ;

	}

	#body1 {
	background : white ;
	}

	*                               { margin: 0; padding: 0; }
	#body2                           { font: 12px "Lucida Grande", Sans-Serif; background: url(bg.png); }
	h2                              { color: #fa9f00; font: 30px Helvetica, Sans-Serif; margin: 0 0 10px 0; }
	#page-wrap                      { width: 180px; margin: 30px auto; position: relative; }

	#chat-wrap                      { border: 1px solid #eee; margin: 0 0 15px 0;  border-radius : 10px ; }
	#chat-area                      { height: 500px; overflow: auto; border: 1px solid #666; padding: 20px; background: white;   border-radius : 10px ; }
	#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0;}
	#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

	#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }
	#name-area span                 { color: #fa9f00; }

	#send-message-area p            { float: left; color: white; padding-top: 27px; font-size: 14px;  }
	#sendie                         { border: 3px solid #999; width: 180px; padding: 10px; font: 12px "Lucida Grande", Sans-Serif; float: right;   border-radius : 10px ;}
 }
